

.button{
    background-color: $auxiliar-color;
    border-radius: 4px;
    height: 4rem;
    width: 34.7rem;
    text-align: center;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-secundaria;
    color: $black;
    box-shadow: 0px 4px 4px 0px #000000 25%;
}

.button-programa{
    font-weight: 700;
    width: 25.5rem;
}