
//Header - navbar


header{
    .navbar{
        position: relative;
        z-index: 9;
        padding: 1.9rem 1.28rem;
        background-color: $white;
        
        .navbar-nav{
            .nav-link{
                font-size: 1.8rem;
                color: $black;
                font-family: $font-principal;
            }
        }
    }
}